/* Overall */
html {
    text-align: center;
    background-color: #f4d7de;
}

button {
    margin: 5px;
    padding: 5px;
    color: #a4d4dc;
}

hr {
    border: 2px solid #bfd1d0;
}

/* LOGIN AND SIGNIN */
#sign-up-div {
    display: block;
}

#login-div {
    display: none;
}

.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}


/* MAIN INTERFACE */

/* HOMEPAGE */
#home-div {
    display: none;
}

/* QUIZING */
#flashcards-div {
    display: none;
}

/* Create Flashcards */
#create-flashcards-div {
    display: none;
}

